{% extends 'base.html' %}


{% load crispy_forms_tags %}

{% block content %}
    <div class="container card" style="width: 38rem;">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group mb-4">
                <legend class="border-bottom mb-4">Create an Account</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mb-4" type="submit">Sign Up</button>
            </div>
            <a class="ml-2" href="{% url 'password_reset' %}">Forgot Password? </a>
        </form>
        <div class="container" style="padding-bottom: 2em">

            <div class="border-top pt-3">
                <small class="text-muted">Account exists? <a class="ml-2" href="{% url 'login' %}">Log In</a></small>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block content %}#}
{#<div class="container content-section">#}
{#    <form method="post">#}
{#            {% csrf_token %}#}
{#        <fieldset class="form-group">#}
{#            <legend class="border-bottom mb-4">Join Now</legend>#}
{#            {{ form|crispy }}#}
{#        </fieldset>#}
{#        <div class="form-group">#}
{#            <button class="btn btn-outline-info" type="submit">Sign Up</button>#}
{#        </div>#}
{#    </form>#}
{#    <div class="container" style="padding-bottom: 2em">#}
{#        <div class="border-top pt-3">#}
{#            <small class="text-muted">Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a></small>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#{% endblock %}#}